@mixin icon-luggage {
	overflow: hidden;
	svg {
		animation: ICON_LUGGAGE 1s ease-in-out forwards;

		@keyframes ICON_LUGGAGE {
			0% {
				transform: translateX(0%);
			}
			25%,
			49.9% {
				transform: translateX(200%);
			}

			50% {
				transform: translateX(-200%);
			}
			100% {
				transform: translateX(0%);
			}
		}
	}
}
