@use 'sass:map';
@use 'sass:list';
@use 'sass:color';


@function extend-colors($colors, $lighten: 33.33%, $darken: 33.33%) {
	$out: $colors;

	@each $name, $value in $colors {
		// Prefer color.scale for balanced adjustment
		$light: color.scale($value, $lightness: $lighten);
		$dark: color.scale($value, $lightness: -$darken);

		$out: map.set($out, #{$name}-light, $light);
		$out: map.set($out, #{$name}-dark, $dark);
	}

	@return $out;
}


// Base Colors
$base-colors: (
	"red": #f40935,
	"pink": #e23ea9,
	"purple": #b214c0,
	"violet": #7f23d3,
	"indigo": #4b0082,
	"blue": #2923d3,
	"cobalt": #2376d3,
	"skyblue": #3bb6f1,
	"cyan": #2dcfdc,
	"teal": #49dba3,
	"green": #55c267,
	"lime": #a9e14b,
	"apple": #e7ed3f,
	"yellow": #fde824,
	"gold": #ffb647,
	"orange": #ff8d22,
	"brown": #806755,
	"coral": #f96459,
	"beige": #dabd9f,
	"lavender": #bface1,
	"gray": #989499,
	"white": #ffffff,
	"black": #000000
);

$extended-colors: extend-colors($base-colors);

$base-color-names: map.keys($base-colors);

$extend-color-names: map.keys($extended-colors);

// Project Colors
$colors: (
	'dark': #18032a,
	'light': #ffffff,
	'accent-dark': #000000,
	'accent-light': map.get($extended-colors, 'beige-light'),
	'primary': map.get($extended-colors, 'dark-violet'),
	'secondary': map.get($extended-colors, 'gold'),
	'tertiary': map.get($extended-colors, 'blue'),
	'quaternary': map.get($extended-colors, 'lime'),
	'quinary': map.get($extended-colors, 'coral'),
	//
	'success': map.get($extended-colors, 'green'),
	'warning': map.get($extended-colors, 'orange'),
	'error': map.get($extended-colors, 'red'),
	'info': map.get($extended-colors, 'skyblue'),
);

$color-names: map.keys($colors);

// Theme Colors

$theme-colors: (
	background: var(--light),
	foreground: var(--dark),
);
$theme-color-names: map.keys($theme-colors);

// All Colors
$all-colors: map.merge($base-colors, $colors, $theme-colors);
$all-color-names: list.join($base-color-names, list.join($color-names, $theme-color-names, comma), comma);
