@forward 'typography';
@forward 'color/color';
@forward 'reset';
@forward 'content';
@forward 'media';
@forward 'base';
@forward 'icon-animations';

body,
html {
	margin: 0;
	background: var(--color-background);

	height: 100vh;
  scroll-snap-type: y mandatory;
	overflow-x: hidden;


}

body {
	background-color: var(--color-accent);
	background-image: radial-gradient(
		ellipse at center,
		var(--color-background) 0%,
		var(--color-background) 50%,
		var(--color-accent) 100%
	);
	background-attachment: fixed;
	background-size: 100% 100%;
	color: var(--color-foreground);
	padding: 0;
	margin: 0;
	font-size: clamp(16px, 1.25vw, 24px);
	font-family:
		'Inter',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;

	scroll-behavior: smooth;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) rgba(0, 0, 0, .1);
}

.hide-mobile {
	@media screen and (max-width: 66em) {
		display: none;
	}
}
