@mixin checkerBoard(){
  background-image:
  linear-gradient(45deg, var(--dot-color, var(--color-accent)) 25%, transparent 25%),
  linear-gradient(135deg, var(--dot-color, var(--color-accent)) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, var(--dot-color, var(--color-accent)) 75%),
  linear-gradient(135deg, transparent 75%, var(--dot-color, var(--color-accent)) 75%);
background-size: 20px 20px; /* Must be a square */
background-position:
  0 0,
  10px 0,
  10px -10px,
  0px 10px;
}
