// Global styles for the marketing website
@use '@tiko/ui/styles/app.scss';

:root {
  --font-family: 'Nunito', sans-serif;
  --header-font-family: 'Lora', serif;

}


.title {
  font-size: clamp(3em, 4vw, 6em);
  line-height: 1;
  font-family: var(--header-font-family);
}
